* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
        font-family: 'Helvetica Neue LT Std 45 Light';
        font-style: normal;
        font-weight: normal;
        src: url('font/HelveticaNeueLTStd45Light_22520.woff');
    }

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #060a1f;
    font-family: 'Helvetica Neue LT Std 45 Light', sans-serif;
}

#clock h1 {
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
    text-align: center;
    color: #fff;
    margin-bottom: .5rem;
}

section {
    display: flex;
}

section div {
    margin-right: .5rem;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
}

section div:last-child {
    margin-right: 0;    
}

span {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1a73e8;
    color: #fff;
    font-size: 3.3rem;
    width: 100px;
    height: 85px;
}

span:nth-child(even) {
    font-size: .7rem;
    background-color: #1d65c4;
    height: 30px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
}

section div:last-child span {
    background-color: #ff006a;
}

section div:last-child span:last-child {
    background-color: #ec0062;
}